#root {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  padding: 2rem;
  text-align: center;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 6000px;
 
}

.green-blob1 {
  position: absolute;
  top: 20rem;
  left: clamp(-40rem, -20vw, -10rem);
  width: clamp(10rem, 30vw, 80rem);
  height: clamp(10rem, 40vw, 80rem);
  background: radial-gradient(circle, rgba(22, 80, 4, 0.6) 0%, rgba(75,0,130,0) 70%);
  border-radius: 50%;
  filter: blur(50px);
  z-index: 0;  
}

.purple-blob2 {
  position: absolute;
  top: 2rem;
  right: clamp(-40rem, -20vw, -10rem);
  width: clamp(15rem, 30vw, 40rem);
  height: clamp(15rem, 40vw, 40rem);
  background: radial-gradient(circle, rgba(138,43,226,0.5) 0%, rgba(75,0,130,0) 80%);
  border-radius: 50%;
  filter: blur(70px);
  z-index: 0;
}

.banner{
max-width: 100%;
height: auto;
margin-top: 7rem;
}

.sobrenos{
height: auto;
max-width: none;
overflow: hidden;
position: absolute;
margin-left: clamp(-70rem, -60rem, -20rem);
margin-top: clamp(2rem, 10rem, 14rem);
}

.date-btn-wraper{
  display: flex;
  gap: clamp(1rem, 18vw, 40rem);
  justify-content: center;
}

.date{
  font-size: clamp(0.65rem, 1.4vw, 2rem);
  font-family: 'Dela Gothic One', sans-serif;
  margin-top: clamp(0.6rem, 1vw, 2rem);
  white-space: nowrap;
  
}

.buybtn{
  width: clamp(11rem, 20vw, 24rem);
  height: clamp(1.5rem, 3vw, 4rem);
  background-color: #990DCE;
  color: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: clamp(.9rem, 1.4vw, 2rem);
  font-family: 'Dela Gothic One', sans-serif;
  white-space: nowrap;
}



@media (max-width: 600px) {
  .buybtn {
    margin-top: 0.2rem;
    margin-left: 1rem;
  }

  .date{
   margin-left: -2rem;
   
  }

  .date-btn-wraper{
  display: flex;
  gap: 0rem;

}

  .banner{
  width: 110vw;
  max-width: none;
  margin-left: -3rem;
  margin-top: 3.5rem;
  }

  .sobrenos{
width: 250vw;
height: auto;
max-width: none;
overflow: hidden;
position: absolute;
margin-left: -22rem;
margin-top: 4rem;
}
}